@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 폰트 */
body {
  @apply font-sans bg-background text-text dark:bg-background-dark dark:text-text-dark;
}

/* styles/globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html.is-instagram {
  font-size: 14px !important;
  line-height: 1.4 !important;
}